.hero-container {
  display: grid;
  grid-template-columns: minmax(auto, auto);
  justify-content: center;
  padding: 15% 0;
}

.hero-item {
  text-align: center;
  padding: 5% 0;
}

.hero-item h1 {
  font-size: 45px;
}

.hero-item p {
  font-size: 25px;
}

@media (max-width: 575.98px) {
  .hero-item {
      padding: 20% 0;
  }
}