.about-container {
  display: grid;
  grid-template-columns: minmax(auto, 900px);
  justify-content: center;
  padding: 20px 0;
}

.about-item {
  padding: 20px;
  margin: 10px 0;
  background-color: #fff;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .3);
  transition: all .3s;
}

.about-item:hover {
  box-shadow: 0 1px 30px 1px rgba(0, 0, 0, .3);
  transform: scale(1.1);
}

.about-item hr {
  width: 80%;
  margin: 20px 0;
}

.about-item h2 {
  margin-bottom: 20px;
}

.about-item p {
  margin: 10px 0;
}
@media screen and (max-width: 479px) {
  .about-item {
      margin: 5px;
  }
}
