.studies-card {
  position: relative;
  display: block;
  padding: 4% 0;
  margin: 2% 0;
}

.studies-card-background {
  display: grid;
  grid-template-columns:  minmax(auto, .8fr);
  justify-content: center;
}

.studies-card-container {
  display: grid;
  grid-template-columns:  repeat(auto-fit , minmax(auto, 110px));
  justify-content: center;
}

@media (max-width: 566px)  {
  .studies-card-background {
      grid-template-columns:  minmax(auto, 1fr);                        
  }
  .studies-card-container {
      grid-template-columns: repeat(auto-fit , minmax(auto, 80px));
  }
}

.studies-btn a {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px #022ED8 solid;
  padding: 10px 45px;
  background-color: #022ED8;
  border-radius: 20px;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, .3);
}

.studies-btn a:hover {
  background-color: #170AFF;
}

.studies-btn a:active {
  background-color: #0A6BE8;
  box-shadow: 3px 3px 10px 0px rgba(2, 46, 214, .3);
}

.studies-btn {
  display: grid;
  justify-content: center;
}

.studies-card-overlay {
  background: rgba(0,0,0, .6);
  position: absolute;
  color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0s 0.3s;
}

.studies-card:hover .studies-card-overlay {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s;
}

.studies-card-overlay h4, .studies-banner h2 {
  padding: 10px;
  text-align: center;
}

.studies-card-overlay h4 {
  text-shadow: 2px 2px #000000;
}

.studies-card-container img {
  cursor: pointer;
}

.studies-card-container img:hover {
  transform: scale(1.05);
}