.experience-title {
  text-align: center;
  padding: 4%;
}

.experience-container {
  display: grid;
  grid-template-columns:  repeat(auto-fit , minmax(auto, 340px));
  grid-gap: 10px;
  justify-content: center;
  padding: 5% 0;
}

.experience-card {
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 1px 1px 0px rgba(0, 0, 0, .3);
  transition: all .3s;
}

.experience-card:hover {
  transform: scale(1.07);
  box-shadow: 0 1px 10px 0px rgba(0, 0, 0, .3);
}

.experience-card-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.experience-card-header h4 {
  padding: 20px 0 0px 20px;
  margin: 0;
}

.experience-card-header p {
  padding: 0px 10px 10px 20px;
  margin: 0;
  color: #5f6368;
}

.experience-card-item {
  margin: 10px;
}

.experience-card-body img {
  height: 90px;
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, .3);
  border-radius: 5px;
  transition: all .3s;
}

.experience-card-body img:hover {
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, .3);
  transform: scale(1.1);
}