.title {
  text-align: center;
  padding: 4%;
}

.container {
  display: grid;
  grid-template-columns:  repeat(auto-fit , minmax(auto, 340px));
  grid-gap: 10px;
  justify-content: center;
  padding: 5% 0;
}

.card {
  box-shadow: 0 1px 1px 0px rgba(0, 0, 0, .3);
  border-radius: 5px;
}

.card-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.card-header h4 {
  padding: 20px 0 0px 20px;
  margin: 0;
}

.card-header p {
  padding: 0px 10px 10px 20px;
  margin: 0;
  color: #5f6368;
}

.card-item {
  margin: 10px;
}

img {
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, .3);
}