.app-initial {
  background-image: url('./assets//hero/form1.svg');
  background-repeat: no-repeat;
  background-position-x: 210%;
  background-position-y: 20%;
  background-size: 70%;
}

@media (max-width: 575.98px) {
  
  .app-initial {
      background-position-x: 340%;
      background-size: 80%;
  }
  
}

.app-final {
  background-image: url('./assets/footer/img1.jpg');
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}