#titulo-barra {
  background-image: url("../img/inicio.jpg");
}

.barrita {
  margin-bottom: 100px;
}
.titulo-nombre {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 240px;
}

.acerca-de-mi-columna {

  margin-top: 80px;
  margin-bottom: 80px;
}
.acerca-de-mi-titulo {
  padding-top: 140px;
  padding-left: 60px;
  padding-bottom: 100px;
}

.acerca-de-mi-parrafo {
  padding-top: 120px;
  padding-bottom: 120px;
}

.super-frase {

  margin-bottom: 80px;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 120px;
  border: 0px;
}

#sobre-mi {
  background-image: url("../img/puntos.png");
}

/* #slider-show {
  background: #f2f2f2;
} */


#skills {
  background-image: url("../img/desk.jpg");
}

.idioma-español{
  background: #f2f2f2;
}

#contacto {
  background-image: url("../img/puntos.png");
}
.contactame {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 60px;
  margin-bottom: 60px;
}

#pie-foot {
  background-color: black;
}
